{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event Logs</h1>
    <ul>
        {% for event in events %}
            <li>{{ event.title }} - {{ event.description }} - {{ event.timestamp|date('Y-m-d H:i:s') }}</li>
        {% endfor %}
    </ul>
{% endblock %}